# Ignore do backend (Flask)
__pycache__/
*.pyc
instance/
.env
venv/

# Ignore do frontend (React)
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore geral
.DS_Store
*.log
*.sqlite3
